<nav>
  <div style="color: white; text-align: center; padding: 5px;">
    <a style="color: white; margin: 5px" href="/">Inicio</a>
    <a style="color: white; margin: 5px" href="">Productos</a>
  </div>
</nav>