<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Socket</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../../public/index.js"></script>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body style="margin: 0px">
  <%- include('../partials/navbar'); %>
  <main style="background-color: beige">
    <h1 style="padding: 10px; margin: 0px">Agregar producto</h1>
    <form style="padding: 20px 0px 20px 10px" onsubmit="return agregar()">
      <label>Título:</label>
      <input id="in-title" type="text" name="title" />
      <label>Precio:</label>
      <input id="in-price" type="number" name="price" />
      <label>Foto:</label>
      <input id="in-thumbnail" type="text" name="thumbnail" />
      <input type="submit" value="Enviar" />
    </form>
    <h1 style="padding: 10px; margin: 0px">Listado de productos</h1>
    <table style="width: 45%">
      <tr>
        <th style="width: 15%">Título</th>
        <th style="width: 15%">Precio</th>
        <th style="width: 15%">Imagen</th>
      </tr>
    </table>
    <table id="table-products" style="width: 45%"></table>
    <h1 style="padding: 10px; margin: 0px">Centro de mensajes</h1>
    <form style="padding: 20px 0px 20px 10px" onsubmit="return enviar()">
      <label>Email:</label>
      <input id="in-email" type="email" name="email" required />
      <label>Mensaje:</label>
      <input id="in-msg" type="text" name="msg" required />
      <input type="submit" value="Enviar" />
    </form>
    <div id='div-msg' style="height: 300px; overflow: scroll;"></div>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>